.available-time {
  @include page-width;
  margin-bottom: 88px;
}

.available-time__header {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 25px;
  color: $black-color;
}

.available-time__list {
  @include cancel-list;
  width: 68%;
}

.available-time__item {
  font-size: 18px;
  line-height: 22px;
  color: $black-color;
  padding: 21px 32px;
  border: 1px solid $grey-color;
  border-top: none;

  &:first-child {
    border-top: 1px solid $grey-color;
  }
}

.available-time__item--date {
  @include flex-row;
  border-top: none;
  padding-top: 25px;
  padding-bottom: 12px;
  font-size: 18px;
  align-items: center;
}

.available-time__button-calender {
  @include button;
  margin-left: 20px;
}

.available-time__item-wrapper {
  @include flex-row-space;
}

.available-time__item-time {
  margin-bottom: 10px;
}

.available-time__item-price {
  font-family: $montserrat-bold;
  font-weight: bold;
  margin-bottom: 10px;
}

.available-time__item-button {
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  color: $orange-color;
  border: 1px solid $orange-color;
  padding: 15px 37px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $light-orange-color;
    border: 1px solid $light-orange-color;
  }

  &:active {
    color: $dark-orange-color;
    border: 1px solid $dark-orange-color;
  }
}

.available-time__item--rating {
  @include flex-row;
  border-top: none;
  padding-top: 46px;
  padding-bottom: 38px;
}

.available-time__icon-cup {
  margin-right: 14px;
}

.available-time__stars {
  @include flex-row;
}

.available-time__stars-group {
  @include flex-row;
  @include cancel-list;
  margin-left: 13px;
}

.available-time__icon-star {
  margin-right: 3px;
}

@media (max-width: $tablet-width) {
  .available-time {
    margin-bottom: 45px;
  }

  .available-time__header {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 38px;
    text-align: center;
    letter-spacing: 0.2px;
  }

  .available-time__list {
    width: 100%;
  }

  .available-time__item {
    padding: 30px 19px;
  }

  .available-time__item--date {
    padding-top: 20px;
    padding-bottom: 17px;
    justify-content: center;
  }

  .available-time__button-calender {
    display: none;
  }

  .available-time__item-wrapper {
    @include flex-column;
    align-items: flex-start;
  }

  .available-time__item-text {
    margin-bottom: 23px;
  }

  .available-time__item-time {
    margin-bottom: 11px;
  }

  .available-time__item-button {
    padding: 15px 35px;
  }

  .available-time__item--rating {
    font-size: 13px;
    letter-spacing: 0.2px;
    padding-bottom: 23px;
  }

  .available-time__icon-cup {
    width: 35px;
  }

  .available-time__stars {
    @include flex-column;
    align-items: flex-start;
  }

  .available-time__stars-group {
    margin-left: 0;
  }
}
