.logo-social {
  @include page-width;
  width: 71%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.logo-social__wrapper {
  @include flex-row-space;
  width: 88%;
  margin-left: 6%;
}

.logo-social__list {
  @include flex-row-space;
}

.logo-social__social-list {
  @include flex-row-space;
  @include cancel-list;
}

.logo-social__social-item {
  margin-right: 30px;
}

.logo-social__language {
  @include select;
}
/*
.login__language-select option {
  background-color: $light-purple-color;
  border: 0 none;
  color: $white-color;
  appearance: none;
}
*/

@media (max-width: $tablet-width) {
  .logo-social {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: $grey-border;
  }

  .logo-social__language--desktop {
    display: none;
  }

  .logo-social__wrapper {
    @include page-width;
  }

  .logo-social__social-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
