.manager {
  @include page-width;
  @include flex-row;
  align-items: flex-start;
  border-top: $grey-border;
  padding-top: 35px;
  padding-bottom: 54px;
  border-bottom: $grey-border;
  margin-bottom: 46px;
}

.manager__column {
  width: 50%;
  margin-right: 15%;
}

.manager__about-manager {
  margin-bottom: 40px;
}

.manager__header {
  @include section-header;
  margin-bottom: 12px;
}

.manager__text {
  @include section-text;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.manager__text br {
  display: none;
}

.manager__button {
  @include blue-color-button;

  &::after {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    top: 10px;
    left: 100px;
    width: 13px;
    height: 10px;
    background-image: url("../img/icon-arrow-down.svg");
    position: absolute;
    z-index: 5;
  }
}

.manager__person {
  padding-top: 33px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    top: 22px;
    right: 12px;
    width: 31px;
    height: 27px;
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    z-index: 5;
  }
}

.manager__person-image {
  margin-bottom: 16px;
  width: 140px;
  height: 140px;
}

.manager__person-name {
  @include section-header;
  margin-bottom: 4px;
}

.manager__person-profession {
  font-size: 14px;
  line-height: 24px;
}

.manager__person-button {
  @include blue-color-button;
  width: 62%;
  font-size: 14px;
}

@media (max-width: $tablet-width) {
  .manager {
    @include flex-column;
    border-top: none;
    padding-top: 0;
    padding-bottom: 17px;
    border-bottom: none;
  }

  .manager__column {
    width: 100%;
    margin-right: 0;
    order: 2;
  }

  .manager__about-manager {
    margin-bottom: 25px;
  }

  .manager__text-block {
    margin-bottom: 18px;
  }

  .manager__header {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 14px;
  }

  .manager__text {
    font-size: 16px;
    line-height: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .manager__text br {
    display: block;
  }

  .manager__person {
    margin: 0 auto;
    margin-bottom: 14px;

    &::before {
      top: 22px;
      right: 0;
    }
  }

  .manager__person-image {
    width: 139px;
    height: 139px;
    margin-bottom: 19px;
  }

  .manager__person-name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
  }

  .manager__person-profession {
    line-height: 22px;
    margin-bottom: 7px;
  }

  .manager__person-button {
    width: 77%;
    font-size: 16px;
    line-height: 23px;
  }
}
