.photo-in-helicopter {
  @include page-width;
  margin-bottom: 25px;
}

.photo-in-helicopter__wrapper {
  @include flex-row-space;
  margin-bottom: 17px;
}

.photo-in-helicopter__column {
  width: 47%;
  margin-right: 20px;
  margin-top: 10px;
}

.photo-in-helicopter__header {
  @include big-black-title;
  margin-bottom: 7px;
}

.photo-in-helicopter__image {
  width: 554px;
  height: 373px;
}

.photo-in-helicopter__image--mobile {
  display: none;
}

.photo-in-helicopter__text {
  @include section-header;
  margin-bottom: 17px;
}

.photo-in-helicopter__list {
  @include cancel-list;
  @include flex-column;
}

.photo-in-helicopter__item {
  @include flex-row;
  font-size: 14px;
  margin-bottom: 13px;
}

.photo-in-helicopter__icon {
  height: 32px;
  width: 35px;
  margin-right: 10px;
}

.photo-in-helicopter__item-rating {
  @include flex-row;
  border-top: $grey-border;
  border-bottom: $grey-border;
  padding: 25px 0;
  width: 50%;
  font-size: 18px;
}

.photo-in-helicopter__stars {
  @include flex-row;
  align-items: left;
}

.photo-in-helicopter__stars-group {
  @include stars-group;
}

.photo-in-helicopter__icon-star {
  @include icon-star;
}

.photo-in-helicopter__icon-star svg {
  color: $orange-color;
}

@media (max-width: $tablet-width) {
  .photo-in-helicopter__wrapper {
    @include flex-column;
  }

  .photo-in-helicopter__column {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }

  .photo-in-helicopter__header {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 12px;
  }

  .photo-in-helicopter__image {
    width: 290px;
    height: 197px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .photo-in-helicopter__image--mobile {
    display: block;
  }

  .photo-in-helicopter__image--desktop {
    display: none;
  }

  .photo-in-helicopter__text {
    margin-bottom: 34px;
    line-height: 21px;
  }

  .photo-in-helicopter__icon {
    height: 31px;
    width: 30px;
  }

  .photo-in-helicopter__item-rating {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .photo-in-helicopter {
    margin-bottom: 80px;
  }

  .photo-in-helicopter__wrapper {
    margin-bottom: 10px;
  }

  .photo-in-helicopter__header br {
    display: block;
  }

  .photo-in-helicopter__item {
    @include flex-row;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .photo-in-helicopter__item-rating {
    font-size: 14px;
    padding: 13px 0;
    letter-spacing: 0.3px;
  }

  .photo-in-helicopter__stars {
    @include flex-column;
  }

  .photo-in-helicopter__icon--cup {
    width: 36px;
    height: 40px;
  }
}
