.photos {
  @include page-width;
  margin-bottom: 25px;
}

.photos__header {
  font-size: 19px;
  line-height: 29px;
  color: $black-color;
  margin-bottom: 37px;
}

.photos__list {
  @include cancel-list;
  @include flex-row-space-wrap;
  margin-bottom: 33px;
}

.photos__item {
  width: 24%;
  margin-bottom: 10px;
  height: 185px;
}

.photos__image {
  margin-bottom: 10px;
  height: 185px;
  width: 100%;
}

.photos__button {
  @include blue-color-button;
  margin-left: 42%;

  &::before,
  &::after {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    top: 10px;
    width: 11px;
    height: 6px;
    background-image: url("../img/icon-arrow-down.svg");
    position: absolute;
    z-index: 5;
  }

  &::before {
    left: -20px;
  }

  &::after {
    top: 10px;
    right: -28px;
  }
}

@media (max-width: $tablet-width) {
  .photos__item {
    width: 32%;
    margin-bottom: 10px;
    height: 185px;
  }
}

@media (max-width: $mobile-width) {
  .photos {
    width: 100%;
  }

  .photos__header {
    @include page-width;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 34px;
  }

  .photos__list {
    @include flex-row;
    margin-bottom: 0;
    overflow-x: scroll;
    margin-left: 5%;
  }

  .photos__item {
    margin-bottom: 0;
    margin-right: 13px;
    width: 100%;
    height: 190px;
  }

  .photos__image {
    margin-bottom: 0;
    height: 185px;
    width: 278px;
  }

  .photos__button {
    display: none;
  }
}
