.promo {
  @include background;
  background-color: #57667b;
  background-image: url("../img/helimain@1x.png");
  background-image: url("../img/helimain@1x.webp");
  padding-top: 286px;
  padding-bottom: 280px;
  margin-bottom: 65px;
  min-height: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/helimain@2x.png");
    background-image: url("../img/helimain@2x.webp");
  }
}

.promo__wrapper {
  @include page-width;
}

.promo__header {
  @include big-white-title;
  margin-bottom: 20px;
  width: 79%;
}

.promo__span {
  color: $orange-color;
}

.promo__price {
  color: $white-color;
  padding: 13px 21px 17px;
  width: 184px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 33px;
  background-image: url("../img/icon-price-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6px;
    right: 13px;
    width: 82px;
    height: 82px;
    background-image: url("../img/icon-percent.svg");
    position: absolute;
    z-index: 5;
  }
}

.promo__price-header {
  font-size: 20px;
}

.promo__price-number {
  font-family: $montserrat-bold;
  font-size: 33px;
  letter-spacing: 1.9px;
}

.promo__button {
  @include white-border-button;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 80%;
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 138px;
    padding-bottom: 177px;
    margin-bottom: 37px;
    background-image: url("../img/helimain-mobile@1x.png");
    background-image: url("../img/helimain-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/helimain-mobile@2x.png");
      background-image: url("../img/helimain-mobile@2x.webp");
    }
  }

  .promo__header {
    margin-bottom: 32px;
    width: 84%;
  }

  .promo__header br {
    display: none;
  }

  .promo__price {
    width: 168px;
    margin-bottom: 36px;
    padding: 9px 18px 20px 18px;

    &::after {
      right: 4px;
      width: 76px;
    }
  }

  .promo__price-header {
    font-size: 18px;
  }

  .promo__price-number {
    font-size: 28px;
  }

  .promo__button {
    margin-right: 0;
  }
}
