$montserrat-regular: "Montserrat-Regular", "Arial", sans-serif;
$montserrat-bold: "Montserrat-Bold", "Arial", sans-serif;
$worksans-Bold: "WorkSans-Bold", "Arial", sans-serif;
$worksans-regular: "WorkSans-Regular", "Arial", sans-serif;
$white-color: #ffffff;
$black-color: #37373F;
$orange-color: #FC9B09;
$grey-color: #C7C7C7;
$blue-color: #5286EC;
$light-grey-color: #b3b3b3;
$dark-grey-color: #37373F;
$light-yellow-color: #FAF9F8;
$tablet-width: 1023px;
$mobile-width: 767px;