$montserrat-regular: "Montserrat-Regular", "Arial", sans-serif;
$montserrat-bold: "Montserrat-Bold", "Arial", sans-serif;
$worksans-Bold: "WorkSans-Bold", "Arial", sans-serif;
$worksans-regular: "WorkSans-Regular", "Arial", sans-serif;
$white-color: #ffffff;
$black-color: #37373f;
$orange-color: #fc9b09;
$grey-color: #c7c7c7;
$blue-color: #5286ec;
$light-grey-color: #b3b3b3;
$dark-grey-color: #37373f;
$dark-blue-color: #003153;
$light-blue-color: #007dd1;
$light-yellow-color: #faf9f8;
$light-orange-color: #ffbf94;
$dark-orange-color: #ad4800;
$tablet-width: 1023px;
$mobile-width: 767px;
$grey-border: 1px solid $grey-color;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
